<div class="jumbotron text center">
    <h1>Ejercicio #2</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!--En este div se ingresa el tamaño del Vector-->
            <label class="control-label">Ingrese el tamaño del arreglo</label>
            <input class="form-control" type="number" ng-model="tamano">
            <button type="button" class="btn btn-info" ng-click="aumentar()">Enviar</button>
        </div>
        <div class="col-sm-6" ng-show="escondido[0]">
            <!--Se ingresan los datos para el vector A y B-->
            <table class="table table-condensed">
                <tr>
                    <thead>
                        <th>#</th>
                        <th>Vector A</th>
                        <th>Vector B</th>
                    </thead>
                </tr>
                <tr ng-repeat="x in mensaje">
                    <td ng-bind="$index + 1"></td>
                    <td><input class="form-control" type='number' ng-model="vectorA[$index]" required></td>
                    <td><input class="form-control" type='number' ng-model="vectorB[$index]" required></td>
                </tr>
            </table>
            <br>
            <!--Se envian a la funcion calcular-->
            <!--El ng-disabled esta incorporado al boton para que no envie datos antes de enviar un tamaño-->
            <button  type="button" class="btn btn-info"  ng-click="calcular()" ng-disabled="valida">Calcular</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div ng-show="escondido[1]">
                <!--En esta lista se encuentran los datos a sumar, respuesta y su grafica-->
                <h3>Respuestas</h3>
                <table class="table table-striped">
                    <thead>
                        <th>#</th>
                        <th>Vector A</th>
                        <th></th>
                        <th>Vector B</th>
                        <th></th>
                        <th>Respuesta</th>
                        <th>Grafica</th>
                    </thead>
                    <!--Utilizo el index para ubicar la pasicion de todos los vectores-->
                    <tr ng-repeat="z in mensaje">
                        <td ng-bind="$index"></td>
                        <td ng-bind="vectorA[$index]"></td>
                        <td>+</td>
                        <td ng-bind="vectorB[$index]"></td>
                        <td> = </td>
                        <td ng-bind="respuesta[$index]"></td>
                        <td ng-bind="grafica[$index]"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>