<div class="jumbotron text center">
    <h1>Ejercicio #3</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <!--En este Div se ingresa el tamaño del Vector-->
            <label class="control-label">Ingrese el tamaño del arreglo</label>
            <input class="form-control" type="number" ng-model="tamano">
            <br>
            <button type="button" class="btn btn-info" ng-click="aumentar()">Enviar</button>
            <br>
            <br>
            <!--Reinicia todas las variables-->
            <button type="button" class="btn btn-warning" ng-click="limpiar()">Limpiar</button>
        </div>
        <div class="col-sm-6" ng-show="vista[0]">
            <!--En este Div se ingresa los datos al vector-->
            <h2>Ingrese números al arreglo</h2>
            <table class="table table-striped">
                <tr ng-repeat="n in lista">
                    <td ng-bind="$index +1"></td>
                    <td><input type="number" class="form-control" ng-model="arreglo[$index]" required> </td>
                </tr>
            </table>
            <!--Rellenar automaticamente los registros-->
            <button type="button" class="btn btn-info" ng-click="rellenar()">Llenar automaticamente</button>
            <!--Este ng-disabled se utiliza para que no calcule ningun valor hasta que se conosca el tamaño-->
            <button type="button" class="btn btn-info" ng-click="calcular()" ng-disabled="valida" >Calcular</button>
        </div>
    </div>
    <div class="row" ng-show="vista[1]">
        <div class="col-sm-8">
            <h3>Sumas</h3>
            <!--En esta tabla se genera los datos sumados y su resultado-->
            <table class="table table-striped">
                <tr ng-repeat="x in lista track by $index">
                    <td ng-repeat="z in x track by $index-1">+<strong ng-bind="x[$index]"></strong></td>
                    <td>=</td>
                    <td><strong ng-bind="resultado[$index]"></strong></td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <h3>Valores Máximos y Mínimos</h3>
            <!--En este div muestra el valos Maximó y mínimo-->
            <label>El máximo : <p ng-bind="minMax[1]"></p></label>
            <br>
            <label>El mínimo : <p ng-bind="minMax[0]"></p></label>
        </div>
    </div>
</div>